body{
    text-align: center;
    background-color: black;
}

h1{
    font-size: 40px;
    color: white;
}

p{
    font-size: 20px;
    color: white;
}

a{
    color: white;
}

.cursos{
   height: 180px;
   width: 280px;
}